<div class="grid_12">
  <h2 class="title">About</h2>
</div><!-- end .grid_12-->
<div class="grid_4">
  <p class="article_details">This template's name &quot;MiniCon&quot; a combination of the Minimalistic and Contrasting style. </p>
  <blockquote><p>&#8220;This is a blockquote item. This is a blockquote item. This is a blockquote item. This is a blockquote item. &#8221;</p></blockquote>
</div><!-- end .grid_3 -->
<div class="grid_8">
  <p class="article_firstparagraph">This template was created by <a href="http://www.pukekodesigns.co.nz" rel="external">Joe Brightwell of Pukeko Design Studio</a> for the <a href="http://www.smashingmagazine.com" rel="external">Smashing Magazine</a> Typography Layout competition.</p>
  <p>Here's a list of elements that this template utilises:</p>
  <ul>
    <li><a href="http://www.960.gs">960 Grid System</a> for the layout</li>
    <li><a href="http://wiki.github.com/sorccu/cufon">Cufon text replacement</a> using javascript</li>
    <li><a href="http://jquery.com/">JQuery</a> to get some Cufon elements to work properly</li>
  </ul>
  <p>It is XHTML (Strict) &amp; CSS (Level 3) valid and is compatible with the following browsers:</p>
  <ul>
    <li>Firefox 3</li>
    <li>Internet Explorer 6+</li>
    <li>Safari</li>
    <li>Opera 9.6</li>
    <li>Google Chrome 2</li>
  </ul>
  <h1>This is an H1 item</h1>
  <h2>This is an H2 item</h2>
  <h3>This is an H3 item</h3>
  <h4>This is an H4 item</h4>
  <ul>
    <li>Unordered list item 1</li>
    <li>Unordered list item 2</li>
    <li>Unordered list item 3
    <ul>
      <li>Unordered nested list item 3.1 </li>
      <li>Unordered nested list item 3.2 </li>
    </ul>
    </li>
  </ul>
  <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum  dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor .</p>
  <ol>
    <li>Ordered list item 1</li>
    <li>Ordered list item 2</li>
    <li>Ordered list item 3
    <ol>
      <li>Ordered nested list item</li>
      <li>Ordered nested list item </li>
    </ol>
    </li>
  </ol>
  <p>Invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.At vero eos et accusam  et justo duo dolores et ea rebum nonumy eirmod tempor. invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et  accusam et justo duo dolores et ea rebum. </p>
  <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum  dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor .</p>
  <p>Invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum nonumy eirmod tempor. Invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et  accusam et justo duo dolores et ea rebum.</p>
</div><!-- end .grid_8-->
<div class="clear">&nbsp;</div>

