<div class="grid_12">
  <h2 class="title">About</h2>
</div><!-- end .grid_12-->
<div class="grid_4">
  <p class="article_details">In spite of what you've heard elsewhere, RubyMinds is the vanity site of Mike Judge that he has because he was embarassed at not having a web presence.</p>
  <blockquote><p>&#8220; Oh God, stop talking about Ruby, stop talking about Ruby, stop talking about Ruby.&#8221;</p></blockquote>
</div><!-- end .grid_3 -->
<div class="grid_8">
  <p class="article_first_paragraph">Hi! I'm Mike Judge, a <%= (Date.today - Date.parse("10/11/1978")).to_i / 365 %>-year-old web developer in Seattle.  I've been building web applications for about 10 years, and am a reasonably competent Rails developer.</p>
  <p>I like:</p>
  <ul>
    <li>My wife</li>
    <li>Ruby</li>
    <li>Seattle's weather</li>
    <li>Video games with level-ups</li>
    <li>My four cats</li>
    <li>Having ADD</li>
    <li>Riding the bus</li>
    <li>Having a 4-day beard</li>
    <li>Ruby</li>
    <li>Not running my own business</li>
    <li>Not having plans for the weekend</li>
    <li>Unordered Lists</li>
  </ul>
</div><!-- end .grid_8-->
<div class="clear">&nbsp;</div>

