.tagline { text-align: center }
.footer { text-align: center }
body { font-size: 81.25%; font-family: georgia,'bitstream vera sans serif','lucida grande',helvetica,verdana,sans-serif }
h1 { text-align: center }
.date { text-align: center; color: #777; font-variant: small-caps; text-transform: capitalize; }
.author { text-align: center; color: #777; font-variant: small-caps; text-transform: capitalize; }
.thread-chain { text-align: center; color: #777; }
