= render :partial => "/posts/top", :object => "post", :as => "post"

.wmd-preview
  &nbsp;
%script{:type => "text/javascript"}
  // to set WMD's options programatically, define a "wmd_options" object with whatever settings
  // you want to override.  Here are the defaults:
  wmd_options = {
  // format sent to the server.  Use "Markdown" to return the markdown source. HTML to return HTML
  output: "Markdown",
  // line wrapping length for lists, blockquotes, etc.
  lineLength: 40,
  // toolbar buttons.  Undo and redo get appended automatically.
  buttons: "bold italic | link blockquote code image | ol ul ",
  // option to automatically add WMD to the first textarea found.  See apiExample.html for usage.
  autostart: true
  };
= javascript_include_tag "wmd/wmd"

