.push-2.span-20.last
  = render :partial => "top"
  %div= @post.body_cache

  %div
    %h3 Replies
    %ul
      - @post.replies.each do |reply|
        %li= link_to reply.title, post_path(reply)
    = link_to 'Post a Reply', new_post_path(:parent_id => @post.id)
