!!!
%html
  %head
    %link{:rel => "stylesheet", :href => "/stylesheets/blueprint/screen.css", :type => "text/css", :media => "screen, projection"}
    %link{:rel => "stylesheet", :href => "/stylesheets/blueprint/print.css", :type => "text/css", :media => "print"}
    /[if IE]
      %link{:rel => "stylesheet", :href => "/stylesheets/blueprint/ie.css", :type => "text/css", :media => "screen, projection"}
  %body
    .container
      .span-24
        %h1 RubyMinds
      = render :partial => "/shared/flashes"
      .span-4
        The first column
      .span-16
        = yield
      .span-4.last
        The right column
      .span-24.small.quiet
        The footer
